.app {
  background: red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner--wraper {
  max-width: 500px;
}

.inner--wraper > select,
input,
button {
  width: 100% !important;
  border: 0px;
  outline: none;
  padding: 0px;
  height: 30px;
  margin: 5px 0px;
}
